*{
    margin: 0px;
    padding: 0px;
 }
 .Upper_nav{
     display: flex;
     justify-content: space-between;
    
  }
 
  .Nav_content{
      display: flex;
      justify-content: space-evenly;
      margin-top: 10px;
      align-items: center;
     margin-left:3%; 
  }
  .Upper_nav p{
      padding: 15px;
      
  }
  .Nav_text span{
      color: rgb(235, 52, 52);
  }
  .Nav_text{
      margin-right: 5%;
      margin-top: 10px;
  }
  .Nav_content img{
      height: 10px;
      width: 10px;
      margin-bottom: 1px;
     
  }
 
   
   
  
  /*Second Navbar*/
  .Navbar{
     display: flex;
     justify-content: space-between;
     margin-top: 20px;  
  }
  .Flone_container img{
     height: 30px;
     width: 100px;
     object-fit: contain;
     margin-left: 55%;
     margin-top: 13%;
 
  }
  .Content_container {
     display: flex;
     justify-content:space-between;
     align-items: center;
     
 
  }
  .Content_container img{
     height: 10px;
     width: 10px;
  }
  .Content_container  p{
     margin-left: 20px;
     padding: 7px;
     color: rgb(107,106,104);
     
  }
  .Icon_container{
     margin-right: 5%;
  }
  .Icon_container img{
     height:20px;
     width: 20px;
     padding: 12px;
     margin-top: 10px;
    
 }
 .Image img{
    width: 99vw;
    height: 95vh;
    object-fit: cover;
 
 }
 .Image{
    margin-top:10px;
 }
 .Image_menu{
    top: 50%;
    left: 55%;
    position: absolute;
    animation: fadeInDown;
    animation-duration: 4s;
    animation-delay: 2s;
   
 }
 @keyframes fadeInDown{
    0%{
        transform: translatey(100%);
        opacity: 0;
    }
    100%{
      opacity: 1;
      transform: translateY(0%);
    }
 }
 
 .Image_menu h1{
    font-size: 80px;
    font-weight: 800;
    margin-top: 2%;
 }
 .Image_menu h3{
    font-size: 40px;
    font-weight: 100;
    margin-left: 40%;
 
 }
 .Image_menu p{
    font-size: 25px;
    margin-left: 25%;
    margin-top: 3%;
 
 }
 .Button  button{
    margin-left: 33%;
    padding: 15px;
    height: 60px;
    width: 170px;
    margin-top: 3%;
 }
 .Icon{
    position: absolute;
    top:60%;
    left:90%;
    
 }
 .Icon img{
    height: 60px;
    width: 60px;
 }
 .Icon1{
    position: absolute;
    top: 60%;
    left: 20px;
 }
 .Icon1 img{
    height: 60px;
    width: 60px;
 }
 
 .Food_items{
    width: 300px;
    border-radius: 20px;
    
 }
 .Food_items img{
    display: flex;
    align-items: center;
    margin-left:40%;
 }
 .Food_container{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 .Food_container h2{
      
       text-align: center;    
 }
 .Food_container p{
    text-align: center;
    margin: 20px 0;
 }
 .Food_container button{
    background-color: brown;
    color: white;
    margin-left: 40px;
    margin-right: 30px;
    padding: 10px;
    border-radius: 20px;
    border: none;
 }
 .Food{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-top: 5%;
 }
 Arrival h1{
    text-align: center;
    margin-top: 50px;
    font-size: 27px;
    font-weight:900px;
 }
 .Arrival p{
    text-align: center;
    margin-top: 5px;
    font-size: 15px;
    font-weight:900px;
 
 }
 .Collection{
    display: flex;
   display: grid;
   grid-template-columns: repeat(5,1fr);
   width: 95%;
   margin-left: 2%;
   margin-top: 5%;
 
 }
 
 .Collection_menu  img{
    height: 300px;
    width: 200px;
    margin-left: 20%; 
    object-fit: cover;
 
 }
 
 .Collection h3{
    display: flex;
 }
 h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
 }
 
 .Collection_page{
    display: flex;
    margin-left: 57px;
    margin-bottom: 10%;
 }
 .Collection_page h4{
    padding: 3px;
    color:violet;
   
 }
 .Collection_page h5{
    padding: 5px;
    margin-left: 5px;   
 }
 .dummy_border1{
    height: 2px;
    width: 10%;
    background-color: black;
    margin-top: 20px;
    margin-left: 45%;
   margin-bottom: 20px;
 }
 
 .Btn2 button{
    background-color: white;
    border: none;
    color: rgb(205, 11, 205);
    position: absolute;
    top:10px;
    right: 40px;
 }
 .Collection_menu{
    position: relative;
 }
 .Btn3 button{
    background-color: white;
    border: none;
    color:blue;
    position: absolute;
    top:40px;
    right:40px;
 }
 .Btn4 button{
    background-color: white;
    border: none;
    color: blue;
    position: absolute;
    top:10px;
    right: 40px;
 }
 .Collection_heart{
    display: flex;
    margin-right: 5%;
 }
 .Collection_heart img{
    height: 20px;
    width: 20px;
    margin-top: 20px;
    margin-right: 5%;
 }
 .Collection_heart p{
    padding: 10px;
    margin-left: 50px;
 }
 .Collection_heart p:hover{
    color: blue;
 }
 .Head_title{
   display: flex;
   align-items: center; 
   justify-content: center;
   
    
 }
 .dummy_border2{
    height: 2px;
    width: 10%;
    background-color: black;
    margin-left: 30px;
    margin-right: 1%;
 }
 .dummy_border3{
    height: 2px;
    width: 10%;
    background-color: black;
    margin-right: 30px;
    margin-left: 1%;
 }
 .Head{
    margin-bottom:2%;
    padding-right: 1%;
 }
 .Word{
    margin-bottom: 2%;
 }
 .Blog{
    display: flex;
    width: 80%;
    margin-left: 12%;
   
 }
 
 .Blog_menu img{
     padding: 5px;
    padding-left: 20px;
 }
 .Btn{
    position: absolute;
   bottom: -4%;
   left: 14%;
    
    
 }
 .Blog_menu{
    position: relative;
 }
 .Btn button{
    width: 300px;
    height: 100px;
    
 }
 .Btn h2{
    margin-bottom:20px;
    text-align: center;
 }
 .Btn h2:hover{
    color: blue;
 }
 .Btn p{
    font-size: 18px;
    font-style: italic;
 }
 .Btn_menu{
    position: absolute;
    top: 10%;
    left: 10%;
 }
 .Btn_menu button{
    height: 30px;
    width: 80px;
    background-color:violet;
    color: white;
    border: none;
 }
 .Btn_menu1{
    position: absolute;
    top: 10%;
    left: 33%;
 }
 .Btn_menu1 button{
    height: 30px;
    width: 80px;
    background-color: violet;
    color: white;
    border: none;
 }
 /* Down navbar */
 .Down_nav{
    background-color:rgb(245,245,247);
    height: 50vh;
    width: auto;
    display: flex;
    margin-top: 10%;
    
  }
 .Flone_Container{
    padding:10%;
    
 }
 .Flone_Container h5{
    margin-top: 10px;
 }
 .Flone_Container p{
    margin-top: 5px;
    font-size: medium;
   
 }
 .Flex{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   align-items: center;
   width: 80%;
   margin-right: 10%;  
   margin-top: 4%;
 }
 .About_us p{
 padding-top: 15px;
 }
 .About_us h4{
    color: rgb(49,49,49);
    font-weight:bold;
    margin-bottom:10px;
 }
 .Useful_links p{
    padding-top: 15px;
 }
 .Useful_links h4{
    color: rgb(49,49,49);
    font-weight:bold;
    margin-bottom:10px;
 }
 
 .Follow p{
    padding-top: 15px;
 }
 .Follow h4{
    color: rgb(49,49,49);
    font-weight:bold;
    margin-bottom:10px;
 }
 
 .Subscribe p{
    padding-top: 15px;
 }
 .Subscribe h4{
    color: rgb(49,49,49);
    font-weight:bold;
    margin-bottom:10px;
 }
 .Txt input{
    border: none;
    background: transparent;
    box-shadow: none; 
 }
 @media (max-width:600px) {
   .Upper_nav{
      display: flex;
   }
   .Nav_content{
      
      flex-direction: row;
     
   }
   .Nav_content p{
      padding: 5px;
   }
   .Nav_text p{
      margin-left: 15px;
   }
   .Navbar{
      flex-direction: row;
   }
   .Flone_container img{
      height: 20px;
      width: 60px;
      margin-left: 20px;
   }
   .Content_container{
      margin-bottom:55%;
      
      
   }
   .Content_container p{
      margin-left: 3px;
   }
 }
